/* 初始化标签 */
body{
	margin:0;
	padding:0;
	font-size:20px;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
form,ul,li,p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding: 0;
}
img{border: 0;}
ul,li{list-style-type: none;}
a{color:#00007f;text-decoration: none;}
a{text-decoration: none;}
/* 初始化标签 */


/* 通用属性 */
.ty{
	display: block;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
/* 通用属性 */

body{
	background: rgba(128,128,128,0.2);
}

.header1{
	background: rgba(0,100,255,0.9);
	color: white;
	text-align: center;
	font-size: 20px;

}


.header2{
	background: rgba(228,69,62,0.9);
	color: white;
	text-align: center;
	font-size: 20px;
}

.header3{
	background: rgba(255,128,0,0.9);
	color: white;
	text-align: center;
	font-size: 20px;
}

.imger1{
	background: rgba(0,100,255,0.5);
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}


.imger2{
	background: rgba(228,69,62,0.5);
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.zhuyi{
	background: rgba(255,128,0,0.5);
	text-align: left;
	color: white;
	font-size: 18px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.imger1-1{}
.imger2-1{}


.anniu{
	font-size: 25px;
	display: inline-block;
	border: 1px solid white;
	border-radius: 5px;
	padding: 8px 50px;
	margin-top: 30px;
}
.anniu:hover{background:rgba(255,255,255,0.2);}